<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Add New Worker</title>
</head>
<body>
<h1>Add New Worker</h1>
<form th:action="@{/workers}" th:object="${worker}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" required>

    <label for="phoneNumber">Phone Number:</label>
    <input type="text" id="phoneNumber" th:field="*{phoneNumber}" required>

    <button type="submit">Add Worker</button>
</form>
<a th:href="@{/workers}">Back to List</a>
<script src="script.js"></script>
</body>
</html>
