<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Edit Wage</title>
</head>
<body>
<h1>Edit Wage</h1>

<form action="#" th:action="@{/wages/{id}(id=${wage.id})}" th:object="${wage}" method="post">
    <label for="worker">Select Worker:</label>
    <select id="worker" th:field="*{worker}" required>
        <option th:each="worker : ${workers}"
                th:value="${worker.id}"
                th:text="${worker.name}"
                th:selected="${worker.id == wage.worker.id}"></option>
    </select>
    <label for="wageAmount">Wage Amount:</label>
    <input id="wageAmount" type="number" th:field="*{wageAmount}" required />

    <label for="date">Date:</label>
    <input id="date" type="date" th:field="*{date}" required />

    <button type="submit">Update Wage</button>
</form>

<a th:href="@{/wages?workerId=${wage.worker.id}}">Back to Wages</a>
<script src="script.js"></script>
</body>
</html>
