.navbar {
  margin: 0.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #6a8e2388;
  position: absolute;
  z-index: 2;
  width: 96.5%;
  border-radius: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.navbar a:hover {
  background-color: #555;
  border-radius: 4px;
}

.navbar .navbar-links {
  display: flex;
  gap: 1rem;
}
