.navbar {
  margin: 0.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #88c2137b;
  position: absolute;
  z-index: 2;
  width: 96.5%;
  border-radius: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.navbar a:hover {
  background-color: #76a90f;
  color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: background 0.7s ease, box-shadow 0.7s ease;
}

.navbar .navbar-links {
  display: flex;
  gap: 1rem;
}
